header {
background-color: black;
position: fixed;
top: 0;
left: 0;
width: 98vw;
z-index: 2;
border-style: solid;
border-radius: 5px;
display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
}

h1 {
    text-align: center;
}

h2{
    text-align: center;
}

h3 {
    text-align: center;
}

a{
    color: purple;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover{
    color: blueviolet;
}

main {
    margin-top: 80px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li{
    list-style: none;
    transition: transform 0.3s;
}
li:hover{
    transform: translateX(5px);
}


.burger {
    display: none;
    transition: transform 0.3s;
    transform-origin: left;
}



.burger:hover{
    transform: scale(1.1);
   
}

.check{
    display: none;
}

@media (max-width: 200px) {
    .burger {
        display: block;
    }

    ul {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        background-color: black;
        margin: 0;
        width: 100vw;
        padding-left: 0;
        align-items: center;
        display: flex;
        transform: translateX(300px);
        transition: transform 0.4s;
        border-radius: 5px;
    }

    li {
        padding-bottom: 20px;
        
    }

    .check{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    .check:checked + ul {
        transform: translateX(0);
    }
}



#sakums{
position: relative;
height: 500px;
}

.wizz{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 400px;
    transition: transform 0.3s;
    border-radius: 10px;
}

.kebab{
    height: 300px;
    width: 450px;
    border-radius: 10px;
}

.wizz:hover{
    transform: scale(1.05);
}