* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    color: white;
    font-family: sans-serif;
  }
  
  body {
    background-color: rgb(3, 1, 28);
  }
  
  header {
    background-color: rgb(42, 187, 254);
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  footer {
    background-color: rgb(42, 81, 254);
    width: 100vw;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  main {
    max-width: 700px;
    margin: 60px auto;
  }
  
  article {
    position: relative;
    margin-bottom: 200px;
    margin-top: 100px;
  }
  
  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  img {
    width: 400px;
    
  }
  
  p {
    font-size: 2rem;
  }

  .indonesia {
    position: absolute;
    top: 120px;
    right: 300px;
  }

  .australia {
    position: absolute;
    top: 80px;
    right: 300px;
  }

  .liepaja {
    position: absolute;
    top: 80px;
    right: 300px;
  }
  